body {
    background-color: black;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr) 0.5fr;
    grid-template-rows: 1.5fr repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .header { 
        grid-area: 1 / 1 / 2 / 6; 
        background-color: aqua;
    }
    .main { 
        grid-area: 2 / 1 / 6 / 3; 
        background-color: coral;   
    }
    .sidebar { 
        grid-area: 2 / 3 / 7 / 4;
        background-color: cornflowerblue;
        height: 100vh;
     }
    .footer { 
        grid-area: 6 / 1 / 7 / 3; 
        background-color:forestgreen;
    }

     .parent {
        height: auto;
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(3, 1fr);
        margin: 20px;
      }
    
       .visual {
        height: 100px;
        width: 100%;
      }
    
       .card {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        justify-content: space-between;
      }
    
       h3 {
        margin: 0
      }

      .yellow {
          background-color: yellow;
      }

      .pink {
          background-color: pink;
      }

      .green {
          background-color: greenyellow;
      }

      .blue {
          background-color: aquamarine;
      }