body{
    color: white;
    background-color: black;
    font: 14px sans-serif; 
    text-align: center;

    padding: 0;
    margin: 0;

min-width: 400px;

    display: flex;
    flex-direction: column;
    align-items: center;
}



.wrapper{ 
    width: 360px; 
}


#login{   
    background: #eee;  
}  
#frm{  
    border: solid gray 1px;  
    width:25%;  
    border-radius: 2px;  
    margin: 120px auto;  
    background: white;  
    padding: 50px;  
}  
#btn{  
    color: #fff;  
    background: #337ab7;  
    padding: 7px;  
    margin-left: 70%;  
}  


a{
    color: yellow;
    text-decoration: none;
    padding: 15px;
}

a:hover{
    text-decoration: underline;
}
  
  .btn:hover {
    border-color: black;
  }



  .container {
      margin-top: 40px;
  }


  .parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .div1 { grid-area: 1 / 2 / 6 / 5; }
    .div2 { grid-area: 1 / 1 / 6 / 2; }
    .div3 { grid-area: 1 / 5 / 6 / 6; }